<footer>
    <div class="copyright">
        <p> Site de Mangas - 2019. <a href="/"> Mentions légales
                <br>
                <span><a href="https://fr-fr.facebook.com"><i class="fab fa-facebook-square"></i></a></span>
                <span><a
                        href="https://accounts.google.com/signin/v2/identifier?passive=1209600&continue=https%3A%2F%2Faboutme.google.com%2Fu%2F0%2F%3Freferer%3Dgplus&followup=https%3A%2F%2Faboutme.google.com%2Fu%2F0%2F%3Freferer%3Dgplus&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i
                            class="fab fa-google-plus-square"></i></a></span>
                <span><a href="https://twitter.com/login?lang=fr"><i class="fab fa-twitter-square"></i></a></span></a>
        </p>
    </div>
</footer>