<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">

    <div class="container">

        <a class="navbar-brand" href="../../../views/index.handlebars">Fantasy Mangas</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#monMenu"
            aria-controls="monMenu" aria-label="Menu pour mobile">


            <span class="navbar-toggler-icon"></span>



        </button>

        <div class="collapse navbar-collapse" id="monMenu">
            <div class="navbar-nav ml-auto">

                <a class="nav-item nav-link" href="/">Inscription</a>
                <a class="nav-item nav-link" href="/">Connexion</a>
                <a class="nav-item nav-link" href="/">Qui sommes-nous</a>
                <a class="nav-item nav-link" href="#nospates">Nos Mangas</a>
                <a class="nav-item nav-link" href="#photos">Photos</a>


            </div>
        </div>
    </div>
</nav>