<!--TABLEAU D'ABONNEMENT 
===================================================== -->

<section>

    <!--Pack 1-->

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>Nos Abonnements</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pack">
                    <div class="pack-title">
                        <h3>Standart</h3>
                        <h4>Gratuit</h4>
                        <p>Pour les amateurs de mangas</p>
                    </div>



                    <div class="pack-content">
                        <ul>

                            <li><i class="fas fa-check-circle"></i>recevoir des infos gratuite sur les mangas</li>
                            <li><i class="fas fa-times-circle"></i>Guide sur les meilleurs Mangas</li>
                            <li><i class="fas fa-times-circle"></i>Voyage aux Japon date fixe</li>
                            <li><i class="fas fa-times-circle"></i>livraison gratuite</li>
                        </ul>
                    </div>
                    <div class="pack-signup">
                        <a href="/" class="btn btn-pack">Je m'inscris</a>

                    </div>
                </div>
                <br>
            </div>

            <br>
            <br>
            <!--Pack 2-->

            <div class="col-md-4">
                <div class="pack-premium">
                    <div class="pack-title">
                        <h3>Premium</h3>
                        <h4>19€<span>/mois</span></h4>
                        <p>Pour les amoureux des mangas</p>
                        <p class="pack-title-premium">Le plus populaire</p>
                    </div>



                    <div class="pack-content">
                        <ul>

                            <li><i class="fas fa-check-circle"></i>recevoir des infos gratuite sur les mangas</li>
                            <li><i class="fas fa-times-circle"></i>Guide sur les meilleurs Mangas</li>
                            <li><i class="fas fa-times-circle"></i>Voyage aux Japon date fixe</li>
                            <li><i class="fas fa-times-circle"></i>livraison gratuite</li>
                        </ul>
                    </div>
                    <div class="pack-signup">
                        <a href="/" class="btn btn-pack">Je m'inscris</a>

                    </div>
                </div>
                <br>
            </div>


            <!--Pack 3-->

            <div class="col-md-4">
                <div class="pack-elite">
                    <div class="pack-title">
                        <h3>Elite</h3>
                        <h4>49€<span>/mois</span></h4>
                        <p>Pour les passionnés des mangas</p>
                    </div>



                    <div class="pack-content">
                        <ul>

                            <li><i class="fas fa-check-circle"></i>recevoir des infos gratuite sur les mangas</li>
                            <li><i class="fas fa-times-circle"></i>Guide sur les meilleurs Mangas</li>
                            <li><i class="fas fa-times-circle"></i>Voyage aux Japon date fixe</li>
                            <li><i class="fas fa-times-circle"></i>livraison gratuite</li>
                        </ul>
                    </div>
                    <div class="pack-signup">
                        <a href="/" class="btn btn-pack">Je m'inscris</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>