<!--FAMILLE DES PATES
===================================================== -->

<section class="famille-pates">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> Les catégories Mangas </h2>

            </div>

            <br>




        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="famille-details">
                    <img src="/assets/ressources/images/shonen.jpg" style="max-width: 90%">

                    <h4> Shõnen</h4>

                </div>


                <p>En Occident, le mot shōnen est utilisé pour désigner un type de manga, le shōnen, qui est un type
                    de manga dont la cible éditoriale est avant tout constituée de jeunes adolescents de sexe
                    masculin.</p>

            </div>




            <div class="col-md-4">
                <div class="famille-details">
                    <img src="/assets/ressources/images/shojo.jpg" style="max-width:90%">

                    <h4> Shōjo </h4>

                </div>

                <p> Le shōjo manga est une bande dessinée japonaise publiée dans un magazine de prépublication dont
                    la cible éditoriale est avant tout constituée de jeunes adolescentes.</p>

            </div>

            <div class="col-md-4">
                <div class="famille-details">
                    <img src="/assets/ressources/images/josei.jpg" style="max-width: 90%">

                    <h4>Josei</h4>

                </div>

                <p> Le josei manga est un style de manga dont la cible éditoriale est avant tout constituée par les
                    jeunes adultes</p>

            </div>

        </div>

    </div>



</section>