<!--AVIS CLIENTS 
===================================================== -->
<section class="clients">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Ils ont adorés </h2>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="client-profil">
                    <blockquote>
                        J'ai trouver le mangas que je cherchais depuis super longtemps merci beaucoup Fantasy Manga!
                        <cite> <img src="/assets/clients/ben Doug.jpg">Mickael Lelouche </cite>
                    </blockquote>

                </div>
            </div>

            <div class="col-md-4">
                <div class="client-profil">
                    <blockquote>
                        J'ai du réserver mon manga il y en avais plus en stock..
                        <cite><img src="/assets/clients/Kayla Ring.jpg">Kayla Ring</cite>
                    </blockquote>


                </div>
            </div>


            <div class="col-md-4">
                <div class="client-profil">
                    <blockquote>
                        KAMEHAMEHA!!!!!!!
                        <cite><img src="/assets/clients/goku.jpg">Goku Real</cite>
                    </blockquote>

                </div>
            </div>


        </div>

    </div>

</section>