<!--NOS PATES======================================-->

<section id="nospates">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2> La Unes </h2>
            </div>
        </div>



        <div class="row">

            <div class="col-md-7 ">

                <img src="/assets/ressources/images/futuristic biblio.jpg" alt="pâte"
                    class="pates-img animate fadeInLeft three">

            </div>

            <div class="col-md-5">

                <div class="row">
                    <div class=" col-md-12">

                        {{!-- <h3> Nos Promotions </h3> --}}

                        <div class="box animate fadeInRight four">
                            <h3> <u>Nos Promotions </u> </h3>

                            <p>Nos promotions s'étend sur une généralité de caractéristiques d'un mangas: dates de
                                parution , popularité ou encore rareté. Les plus récents rechercher resteront au prix de
                                6.99€ pendant une période prédéfinie.</p>

                        </div>

                    </div>

                </div>


                <div class="pates-plus">

                    <div class="row">

                        <div class="col-md-12">


                            <div class="box animate fadeInRight four-2">
                                <h3> <u>Les mangas à la unes </u> </h3>

                                <p>à la unes ce mois-ci: <strong>My Hero Academia Tome 19</strong> Rejoignez les
                                    super-héros du manga phénomène My Hero Academia ! aux prix de 8€. <strong>Blame !
                                        Tome 4</strong>Le combat au sein de Toa Industries atteint son
                                    paroxysme. Retrouver Shibo aux prix de 8€. <strong>Akira Tome 5</strong> Découvrer
                                    ce
                                    qui c'est passer à la suite à la suite du cataclysme causé par Tetsuo aux prix de
                                    10€.</p>

                            </div>

                        </div>
                    </div>
                </div>


                <!--nos pates 3-->

                <div class="pates-plus">

                    <div class="row">

                        <div class="col-md-12">
                            <div class="box animate fadeInRight four-3">
                                <h3> <u> En savoir plus sur Nous </u> </h3>

                                <p>Nous sommes une boutique commercial spécialiser dans l'univers du mangas et anime
                                    japonais en tout genre. Nous sommes situer à Angers depuis les années 2000 aux 2 rue
                                    de l'Aiguillerie. Nous sommes une unique boutique situer en Pays de la Loire. </p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            {{!-- <div class="box animate fadeInLeft three">
        Coming from left
    </div>

    <div class="box animate fadeInRight four">
        Coming from right
    </div> --}}
        </div>


</section>