<!--GALERIES PHOTOS
===================================================== -->
<section id="photos">


    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h2>Galeries photos </h2>

            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="galeries-img" style="background-image: url(/assets/ressources/images/dessin1.jpg)">

                    <div class="galeries-title">

                        <h4> Image 1 Mangas </h4>
                    </div>
                </div>
            </div>




            <div class="col-md-8">
                <div class="galeries-img" style="background-image: url(/assets/ressources/images/dessin2.jpg)">

                    <div class="galeries-title">

                        <h4> Image 2 Mangas </h4>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <div class="galeries-img" style="background-image: url(/assets/ressources/images/dessin3.jpg)">
                    <div class="galeries-title">

                        <h4> Image 3 Mangas </h4>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="galeries-img" style="background-image: url(/assets/ressources/images/dessin4.jpg)">
                    <div class="galeries-title">
                        <h4> Image 4 Mangas </h4>


                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="galeries-img" style="background-image: url(/assets/ressources/images/dessin5.JPG)">
                    <div class="galeries-title">

                        <h4> Image 5 Mangas </h4>


                    </div>
                </div>
            </div>
        </div>
    </div>

</section>