<div class="conteneur" style="margin-top: 4em">
    <div id="sliderAccueil">
        <div id="slideshow-wrap">
            <input type="radio" id="button-1" name="controls" checked="checked" />
            <label for="button-1"></label>
            <input type="radio" id="button-2" name="controls" />
            <label for="button-2"></label>
            <input type="radio" id="button-3" name="controls" />
            <label for="button-3"></label>
            <input type="radio" id="button-4" name="controls" />
            <label for="button-4"></label>

            <label for="button-1" class="arrows" id="arrow-1">></label>
            <label for="button-2" class="arrows" id="arrow-2">></label>
            <label for="button-3" class="arrows" id="arrow-3">></label>
            <label for="button-4" class="arrows" id="arrow-4">></label>

            <div id="slideshow-inner">
                <ul>
                    <li>
                        <div id="slide1" class="slides">
                        </div>
                        <div class="description">
                            <div class="description-text">
                                <p><span></span>le 14-05-19</p>
                                <h2>Fullmetal Alchemist</h2>
                                <p>Dans le pays d'Amestris, pays où l'Alchimie est élevée au rang de science
                                    universelle, deux frères, Edward et Alphonse Elric parcourent le monde à la
                                    recherche de la légendaire pierre philosophale dans le but de retrouver leurs corps
                                    perdus. Retrouver les deux frères aux prix de 3€ le tome.</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div id="slide2" class="slides">
                        </div>
                        <div class="description">
                            <div class="description-text">
                                <p><span></span>le 06-05-19</p>
                                <h2>Negima! Le maître magicien</h2>
                                <p>Negi Springfield, âgé de 10 ans, vient de terminer ses sept ans d'études de magie.
                                    Afin de devenir magicien accompli, il est envoyé au Japon pour être professeur
                                    d'anglais dans une classe du collège Mahora. Voyager avec Negi aux prix de 3€ le
                                    tome.</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div id="slide3" class="slides">

                        </div>
                        <div class="description">
                            <div class="description-text">
                                <p><span></span>le 29-04-19</p>
                                <h2>Vampire Knight</h2>
                                <p>Le plus ancien souvenir que garde Yûki est celui d'une nuit hivernale, où elle fut
                                    attaquée par un vampire... et secourue par un autre. Dix ans plus tard, Yûki, fille
                                    adoptive du directeur de l'Académie Cross, a grandi et est devenue gardienne de
                                    l'académie. Elle est amoureuse de Kaname, son sauveur, qui est le président de la
                                    Night Class. Découvrer l'histoire de Yûki à 3€ le tome.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div id="slide4" class="slides">
                        </div>
                        <div class="description">
                            <div class="description-text">
                                <p><span></span>le 23-04-19</p>
                                <h2>Tokyo Ghoul</h2>
                                <p>Dans la ville de Tokyo, des créatures nommées goules sont apparues et se nourrissent
                                    de chair humaine pour survivre. Un jour, Ken Kaneki, jeune étudiant, se fait
                                    attaquer par l'une d'entre elles et subit une grave blessure. Pour rester en vie, il
                                    reçoit une greffe de la goule qui l'a attaqué et devient un hybride, mi-humain
                                    mi-goule. Suivez Ken dans sa surprenante aventure aux prix de 3€ le tome. </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>