/* Information du document 
- Version: inconnue
- Author:Tristan


*/




/* COLORS 

-Default body text #eee
-h1        #eee
-h2        #000000
-h3        #000000

-button 
-button:hover

-icon           #27c5b9

*/


/*FONTS
-Default        Lato
-subtitle


*/


/* CSS DIRECTORY 

1. =GLOBAL
2. =HEADER
3. -PATES

*/


/* GLOBAL 
====================================================== */



html {
    background-color: #fff;
}

body {
    text-align: center;
}


.title {
    color: #eee;
    font-family: 'Dancing Script', cursive;
}

.second {
    color: #eee;
}

h1,
h3,
h2,
h4 {
    font-family: "Lato", "arial", sans-serif;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    word-spacing: 8px;
}


h2 {
    font-family: "Lato", "arial", sans-serif;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    word-spacing: 8px;
    text-align: center;
    font-size: 250%;
    margin-top: 40px;
    margin-bottom: 30px;
}



h2:after {
    display: block;
    height: 2px;
    background-color: aquamarine;
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 10px;

}



h3 {
    font-size: 160%;
}



p {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}




section {
    padding: 30px 0 60px 0;

}




/* HEADER
====================================================== */

header {
    background-image: linear-gradient(rgba(20, 19, 19, 0.2),
            rgba(14, 16, 17, 0.205)),
        url(../images/zoltan-tasi-764110-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}


.home-title {
    position: relative;
    place-items: center;
}



.home-title h1 {
    font-size: 340%;
    color: #fff;


}


.home title h1 span {
    font-weight: 700;
}


.home-title p {
    color: #fff;
}


/* button */

.btn {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 1s, color 1s, border 1s;

}


.btn-full {
    background-color: #fff;
    color: #5ab9cb;
    margin-right: 15px;
    transition: 1s;
}


.btn-ghost {

    border: 1px solid #fff;
    color: #fff;
}




.btn-full:hover {
    background-color: #f5c0b6 !important;
    color: #49ff9d;
}



.btn-ghost:hover {
    transition: background-color 1s, color 1s, border 1s;
    background-color: #49ff9d;

}


h4 {
    color: #000;
}




/* PATES
====================================================== */


.pates-img {

    max-width: 90%;
    height: auto;
    position: relative;
    place-items: center;
    margin-top: 2%;
    height: 715px;

}


.pates-icon {

    font-size: 34px;
    color: #27c5b9;
    transition: all 1s;

}


.pates-plus {
    margin: 20px 0;
}


.pates-plus:hover .pates-icon {
    transform: translateX(20px);
    color: #27c5b9;
}




h2 {
    position: center;

}




/* FAMILLES DES PATES
====================================================== */



.famille-pates {
    background-color: #cdf6e1;
}

.famille-details {
    background-color: aquamarine;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}


.famille-details img {
    display: block;
    margin: 0 auto;
    width: 80%;
}


.famille-details h4 {
    text-align: center;
}




/* Galeries Photos 
====================================================== */

.galeries-img {
    display: block;
    background-size: cover;
    height: 300px;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;

}



.galeries-title {
    position: absolute;
    bottom: 40px;
    left: 40px;
}


.galeries-title h4 {
    color: aquamarine;
}







/* Profils-Clients
====================================================== */


.clients {
    background-image: url(../images/clients/la%20photo%20resto.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(255, 128, 128, 0.2),
            rgba(51, 255, 204, 0.3)),
        url(../images/zoltan-tasi-764110-unsplash.jpg);
}



.clients h2 {
    color: rgb(65, 240, 12);
}


.clients h2:after {
    background-color: #fff;
}


blockquote {
    color: #fff;
    padding: 5px;
    font-style: italic;
    line-height: 130%;
}

blockquote:before {
    content: "\201C";
    font-size: 800%;
    font-family: "Sanchez", serif;
    position: absolute;
    top: 18px;
    left: 5px;
    color: rgba(255, 255, 255, 0.5);

}


cite {
    font-size: 90%;
    display: block;
    margin-top: 20px;
}


cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}





/* tableau de prix 
====================================================== */

.pack {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #909090;
    color: #fff;
}


.pack h3 {
    color: aquamarine;
    font-weight: 400;
}


.pack h4 {
    font-size: 200%;
    font-weight: 100;
}

.pack span {
    font-weight: 100;
    font-size: 40%;
    position: relative;
    top: -15px;
    left: 2px;
}

.pack-premium {
    background-color: #1caf65;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #fff;
}



.pack-title-premium {
    font-size: 11px;
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: #fff;
    color: green;
    border-radius: 10px;
    padding: 2px;
}




.pack-title {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #cdf6e1;

}




.pack-content ul {
    list-style: none;
    padding: 20px;
    font-weight: 300;
    line-height: 35px;
}


.pack-content ul li i {
    font-size: 90%;
    margin-right: 10px;
}

.pack-signup {
    text-align: center;
}


.pack-signup:hover .btn-pack {
    background-color: green;
    color: #fff;
}

.btn-pack {
    background-color: aquamarine;
    color: #fff;
    margin-bottom: 20px;

}

.pack-elite {
    background-color: #91c4ab;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #fff;
}


/* CONTACT
====================================================== */

.contact form {
    margin-bottom: 30px;
}


.contact-message {
    width: 100%;
}


.btn-contact {
    background-color: lawngreen;
    color: #fff;
    margin-right: 15px;
}


.map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;

}




/* FOOTERS
====================================================== */

footer {
    background-color: #171717;
    color: #fff;

    padding-bottom: 20px;


}

footer .fab {
    font-size: 30px;
    padding: 10px;
    color: yellow;

}



.copyright {
    text-align: center;

}


.copyright a {
    color: #fff;
}


/* sliderHome */

.conteneur {
    max-width: 1200px;
    margin: 0 auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

iframe {
    height: 100%;
    width: 100%;
}

/*------- SLIDER CSS ------*/

#sliderAccueil {
    margin-top: 10px;
}

#slideshow-wrap {
    display: block;
    height: 400px;
    width: 90%;
    margin: auto;
    position: relative;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
}

#slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;

    top: 0px;
    -webkit-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

/* --------------- MES SLIDES ---------------- */

/*slides size (background part) */
.slides {
    height: 100%;
    width: 65%;
}

#slide1 {
    background: url("/assets/ressources/images/fullmetal.jpg") no-repeat center center;
    background-size: cover;
}

#slide2 {
    background: url("/assets/ressources/images/Negima.jpg") no-repeat center center;
    background-size: cover;
}

#slide3 {
    background: url("/assets/ressources/images/vampire.jpg") no-repeat center center;
    background-size: cover;
}

#slide4 {
    background: url("/assets/ressources/images/Tokyo.jpg") no-repeat center center;
    background-size: cover;
}

/* --------------- /MES SLIDES ---------------- */

#slideshow-inner>ul>li {
    width: 20%;
    height: 100%;
    position: relative;
    float: left;
}

/* On cache les boutons radio d'origine */
#slideshow-wrap input[type="radio"] {
    position: absolute;
    left: 30%;
    bottom: 15px;
    visibility: hidden;
}

/* Pour en créer de nouveaux avec un autre style */
#slideshow-wrap label:not(.arrows) {
    z-index: 2;
    position: absolute;
    right: 80px;
    height: 25px;
    width: 25px;
    background-color: #0c2437;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    bottom: 25px;
}

/* Action du click */
#slideshow-wrap label:not(.arrows):active {
    background-color: grey;
    bottom: 26px;
}

/* Couleur de fond des boutons radio checked */
#slideshow-wrap input[type="radio"]#button-1:checked~label[for="button-1"] {
    background-color: rgba(255, 255, 255, 1);
}

#slideshow-wrap input[type="radio"]#button-2:checked~label[for="button-2"] {
    background-color: rgba(255, 255, 255, 1);
}

#slideshow-wrap input[type="radio"]#button-3:checked~label[for="button-3"] {
    background-color: rgba(255, 255, 255, 1);
}

#slideshow-wrap input[type="radio"]#button-4:checked~label[for="button-4"] {
    background-color: rgba(255, 255, 255, 1);
}

/* Décalage des boutons radio */
#slideshow-wrap label[for="button-1"]:not(.arrows) {
    margin-right: 56px;
}

#slideshow-wrap label[for="button-2"]:not(.arrows) {
    margin-right: 18px;
}

#slideshow-wrap label[for="button-3"]:not(.arrows) {
    margin-right: -18px;
}

#slideshow-wrap label[for="button-4"]:not(.arrows) {
    margin-right: -56px;
}

/* Décalage des images de fond au click (100% = une image) */
#slideshow-wrap input[type="radio"]#button-1:checked~#slideshow-inner>ul {
    left: 0;
}

#slideshow-wrap input[type="radio"]#button-2:checked~#slideshow-inner>ul {
    left: -100%;
}

#slideshow-wrap input[type="radio"]#button-3:checked~#slideshow-inner>ul {
    left: -200%;
}

#slideshow-wrap input[type="radio"]#button-4:checked~#slideshow-inner>ul {
    left: -300%;
}

label.arrows {
    /* Flèche des boutons Gauche / Droite */
    font-family: "WebSymbolsRegular";
    font-size: 25px;
    color: rgb(255, 255, 240);
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: none;
    opacity: 0.7;
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

label.arrows:hover {
    opacity: 1;
}

label.arrows:active {
    margin-top: -23px;
}

input[type="radio"]#button-1:checked~.arrows#arrow-2,
input[type="radio"]#button-2:checked~.arrows#arrow-3,
input[type="radio"]#button-3:checked~.arrows#arrow-4,
input[type="radio"]#button-4:checked~.arrows#arrow-5 {
    /* Boutons Droite déplacement */
    padding: 17px 24px;
    right: 10px;
    z-index: 2;
    display: block;
    border-radius: 45px;
    background: rgba(0, 0, 0, 0.8);
}

input[type="radio"]#button-2:checked~.arrows#arrow-1,
input[type="radio"]#button-3:checked~.arrows#arrow-2,
input[type="radio"]#button-4:checked~.arrows#arrow-3,
input[type="radio"]#button-5:checked~.arrows#arrow-4 {
    /* Boutons Gauche déplacement */
    padding: 17px 24px;
    border-radius: 45px;
    background: rgba(0, 0, 0, 0.8);
    left: 10px;
    z-index: 2;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*----- ONGLET DESCRIPTION SLIDER CSS ------*/

.description {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    overflow: hidden;
}

.description .description-text {
    background-color: #183e5c;
    opacity: 1;
    height: 100%;
    padding: 30px 30px 60px 30px;
    overflow: hidden;
    position: relative;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    color: white;
}

.description-text h2 {
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 15px;
}

.description-text p {
    line-height: 20px;
    font-weight: 100;
}

.description-text p span {
    background: url(https://www.iconsdb.com/icons/preview/white/note-2-xxl.png) no-repeat center center;
    background-size: 20px;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 40px;
    margin-right: 10px;
}

/* RESPONSIVE */

@media screen and (max-width: 1050px) {
    .description {
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    .description {
        width: 100%;
    }

    .description .description-text {
        opacity: 0.65;
    }

    .slides {
        width: 100%;
    }
}




/* Fade animation */

.box {
    background: #27c5b9;
    width: 420px;
    height: 235px;
    padding: 12px;
    text-align: center;
    color: white;
    border-radius: 10px;
    float: left;
    margin: 4px;
    font-size: 15px;
    font-family: 'Arial';
    text-transform: uppercase;
}

/* 
.box {
    background: #27c5b9;
    width: 420px;
    height: 235px;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
    opacity: 0;
    float: right;
    margin: 4px;
    color: white;
    font-size: 15px;
    font-family: 'Arial';
    text-transform: uppercase;
    -webkit-transition-property: width height background-color font-size right top color;
    -webkit-transition-duration: 2s;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-timing-function: linear;
    transition-property: width height background-color font-size right top color;
    transition-duration: 2s;
    transition-delay: 0.5s;
    transition-timing-function: linear;
} */



/*=== Trigger  ===*/
.animate {
    -webkit-animation-duration: 1s;
    /* Temps de l'animation */
    animation-duration: 1.6s;
    /* Temps de l'animation */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/


.three {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.four {
    opacity: 0.0;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.four-2 {
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.four-3 {
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;

}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

/*----- REGISTER ------*/
.register {
    background-image: url(/assets/ressources/images/eclair.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* padding-bottom: 460px; */
}


.card {
    margin-top: 10em;
}


.p0 {
    margin-top: 100px;
    font-size: 500%;
    color: white;
    margin-bottom: -70px;
}



/* connexion page */


/* Made with love by Mutiullah Samim*/

section {
    padding: 50px 0 60px 0;
}

.login {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-position: center;

    height: 104vh;
    font-family: 'Numans', sans-serif;
}


@import url('https://fonts.googleapis.com/css?family=Numans');



.container {
    height: 100%;
    align-content: center;
}

.card2 {
    height: 370px;
    margin-top: 18em;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: -1px;
    top: -70px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}